[init]
	defaultBranch = main
[user]
	email = dekr0.dk@protonmail.com
	name = Dekr0
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
