[init]
	defaultBranch = main
[user]
	email = dekr0.dk@protonmail.com
	name = Dekr0
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
[safe]
	directory = /mnt/codebase/migration/hd2-audio-modder
