astro/
audacity/
autostart/
calibre/
cef_user_data/
chromium/
Code/
create-next-app-nodejs/
dconf/
discord/
dlv/
droidcam
electronic-wechat/
fcitx/
flameshot/
flowblade/
fzf/
GIMP/
github-copilot/
go/
Google/
google-chrome/
gtk-2.0/
gtk-3.0/
inkscape/
JetBrains/
kdeglobals/
kdenlive-layoutsrc/
kdenliverc/
ktouch2rc/
libreoffice/
matplotlib/
Meltytech/
menus/
mimeapps.list
mpv/
neofetch/
nextjs-nodejs/
obsidian/
obs-studio/
okularpartrc/
okularrc/
pavucontrol.ini
Postman/
procps/
pulse/
QtProject.conf
Slack/
smplayer/
spotify/
sqlitebrowser/
systemd/
Thunar/
Unknown Organization/
user-dirs.dirs
user-dirs.locale
vlc/
xfce4/
xournalpp/
yarn/
yay/
zoom.conf
zoomus.conf
.nuxtrc
